<label>Username input: </label>
<input title="input"
  type="text"
  class="form-control"
  [(ngModel)]="username">

<p>Username Output: {{username}}</p>

<div>
  <button id="button" (click)="onReset()" title="Reset" [disabled]="username === '' " >Reset</button>
</div>
